<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SOFD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <SOFD.Properties.Settings>
            <setting name="SofdUrl" serializeAs="String">
                <value>https://kommune.sofd.io</value>
            </setting>
            <setting name="SofdApiKey" serializeAs="String">
                <value>xxxx</value>
            </setting>
            <setting name="ActiveDirectoryUserType" serializeAs="String">
                <value>ACTIVE_DIRECTORY</value>
            </setting>
            <setting name="UploadConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveDirectoryEnableManagerUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveDirectoryWritebackExcludeOUs" serializeAs="String">
                <value/>
            </setting>
            <setting name="ActiveDirectoryManagerUpdateMasters" serializeAs="String">
                <value/>
            </setting>
            <setting name="ActiveDirectoryEnablePowershell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveDirectoryManagerUpdateOnlyPrimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFallbackToPrimeAffiliation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveDirectoryManagerUpdateNoClear" serializeAs="String">
                <value>False</value>
            </setting>
        </SOFD.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}"/>
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\sofd-core-ad-writeback-agent\{Date}_SOFDCoreADWritebackAgent.Service.log"/>
    <add key="serilog:write-to:RollingFile.shared" value="true"/>
    <add key="serilog:minimum-level" value="Information"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>
