<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">

    <!-- Serilog settings -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\sofd-core-signaturcentral-integration\{Date}_SOFDCoreSignaturcentral.Service.log" />
    <add key="serilog:write-to:RollingFile.shared" value="true" />
    <add key="serilog:minimum-level" value="Information" />

    <!-- Signaturcentral settings -->
    <add key="Signaturcentral.ConnectionString" value="server=192.168.1.111;user id=SA;password=Test1234;database=signaturcentral" />
    <add key="Signaturcentral.Query" value="SELECT c.tts AS tts, c.subjectDN AS subjectDN, c.email AS email, u.userIdentifier AS userIdentifier FROM CredentialPair c JOIN  UserIdentity u ON u.user_id = c.user_id WHERE c.tts > DATEADD(year, -3, CURRENT_TIMESTAMP);" />

    <!-- Backend settings -->
    <add key="Backend.Password" value="Test1234" />

    <!-- Upload this config file to SOFD Core backend -->
    <add key="UploadConfig.Enabled" value="False" />
    <add key="UploadConfig.SofdCoreUrl" value="https://kommune.sofd.io" />
    <add key="UploadConfig.SofdCoreApiKey" value="xxxx" />
  </appSettings>
</configuration>
