<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">

    <!-- Serilog settings -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\sofd-core-signaturcentral-integration\{Date}_SOFDCoreSignaturcentral.Service.log" />
    <add key="serilog:write-to:RollingFile.shared" value="true" />
    <add key="serilog:minimum-level" value="Information" />

    <!-- Signaturcentral settings -->
    <add key="Signaturcentral.ConnectionString" value="xxx" />
    <add key="Signaturcentral.Query" value="xxx" />

    <!-- Backend settings -->
    <add key="Backend.Password" value="" />

    <!-- Upload this config file to SOFD Core backend -->
    <add key="UploadConfig.Enabled" value="False" />
    <add key="UploadConfig.SofdCoreUrl" value="https://kommune.sofd.io" />
    <add key="UploadConfig.SofdCoreApiKey" value="xxxx" />
  </appSettings>
</configuration>