<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">

    <!-- Serilog settings -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\sofd-core-ad-integration\{Date}_SOFDCoreAD.Service.log" />
    <add key="serilog:write-to:RollingFile.shared" value="true" />
    <add key="serilog:minimum-level" value="Information" />

    <!-- File settings -->
    <add key="File.Location" value="c:/tmp" />
    <add key="File.HeaderRow" value="true" />

    <!-- Active Directory settings -->
    <add key="ActiveDirectory.AllowMultipleUsers" value="true" />
    <add key="ActiveDirectory.TreatDisabledAsEnabled" value="false" />
    <add key="ActiveDirectory.IntegratedSecurity" value="true" />
    <add key="ActiveDirectory.RequireSigning" value="false" />
    <add key="ActiveDirectory.Username" value="" />
    <add key="ActiveDirectory.Password" value="" />
    <add key="ActiveDirectory.Filter" value="" />
    <add key="ActiveDirectory.Property.Cpr" value="employeeNumber" />
    <add key="ActiveDirectory.Property.EmployeeId" value="" />
    <add key="ActiveDirectory.Property.Affiliation" value="" />
    <add key="ActiveDirectory.Property.Mobile" value="" />
    <add key="ActiveDirectory.Property.SecretMobile" value="" />
    <add key="ActiveDirectory.Property.Phone" value="" />
    <add key="ActiveDirectory.Property.DepartmentNumber" value="" />
    <add key="ActiveDirectory.Property.FaxNumber" value="" />
    <add key="ActiveDirectory.Property.Photo" value="" />
    <add key="ActiveDirectory.Cron" value=""/>
    <add key="ActiveDirectory.ExcludeOUs" value="OU=Old user,OU=Amaliekøbing,DC=amalie,DC=dk;OU=Old user2,OU=Amaliekøbing,DC=amalie,DC=dk"/>

	<!-- enable to read MitID Erhverv UUID from AltSecurityIdentities -->
	<add key="ActiveDirectory.ReadAltSecurityIdentities" value="false" />
	  
    <!--
    <add key="ActiveDirectory.LocalExtention.Web" value="wWWHomePage" />
    -->
    <!-- Backend settings -->
    <add key="Backend.Password" value="" />

    <!-- Upload this config file to SOFD Core backend -->
    <add key="UploadConfig.Enabled" value="false" />
    <add key="UploadConfig.SofdCoreUrl" value="https://kommune.sofd.io" />
    <add key="UploadConfig.SofdCoreApiKey" value="xxxx" />

    <!--CyberArk settings-->
    <add key="CyberArk.Enabled" value="false" />
    <add key="CyberArk.CyberArkAppId" value="" />
    <add key="CyberArk.CyberArkSafe" value="" />
    <add key="CyberArk.CyberArkObject.SOFD" value="sofdApiKey" />
    <add key="CyberArk.CyberArkObject.Backend" value="backendApiKey" />
    <add key="CyberArk.CyberArkAPI" value="" />
  </appSettings>
</configuration>
